.venv/
data/raw/*.csv
data/raw/*.geojson
data/output/reports/
airflow.cfg
airflow.db
airflow.db-shm
airflow.db-wal
simple_auth_manager_passwords.json.generated

logs/
# Ignoramos la carpeta donde el consumer guarda los Parquet
data/gold/
*.parquet
*.avro


**/__pycache__/
*.pyc
*.pyo
*.pyd


.DS_Store
.vscode/
