.venv/
data/raw/*.csv
data/raw/*.geojson
data/output/reports/
data/output/*.txt
airflow.cfg
airflow.db
airflow.db-shm
airflow.db-wal
simple_auth_manager_passwords.json.generated

logs/

data/gold/
*.parquet
*.avro


**/__pycache__/
*.pyc
*.pyo
*.pyd


.DS_Store
.vscode/

models/*.pkl
mlruns/
